.custom-btn {
    background-color: #dc3545 !important; 
    color: #ffffff !important; 
    border-color: #dc3545 !important; 
  
    &:hover {
      background-color: #ffffff !important; 
      color: #dc3545 !important; 
    }
  }
  .custom-shadow {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1); 
    border-top: none; 
  }









@import "./node_modules/bootstrap/scss/bootstrap.scss"